.App {
  text-align: center;
}
main{
  padding:10px;
  margin-top: 100px;
}

.navbar{
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  padding: 0px 20px 5px 20px;
  align-items: center;
  background-color: white 10%;
  z-index: 3;
  transition: opacity 0.5s; /* Add a transition for smooth fade-out */
  opacity: 1;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.navbar.scrolled {
  opacity: 0; /* When scrolled, set opacity to 0 for fade-out effect */
}
.navbar .btn-grp{
  display: flex;
  flex-direction: row;
  text-align: -webkit-center;
  gap: 30px;
  align-items: center;
}
.navbar .btn-grp a{
  background-color: rgb(186, 242, 186);
  padding: 20px;
  font-weight: 600;
  font-style: italic;
  border-radius: 20px;
  transition: all 700ms;
}
.navbar a:hover{
  background: rgb(26, 106, 13);
  color: white;
  cursor: pointer;
}
#navbar-image{
  height: 100%;
  width: 8%;
  margin-top: 3px;
  align-items: start;
}

.about-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 105px;
  margin-bottom: 15vh;
}
.about-container h1{
  font-size: 7vw;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.type-effect{
  height: 320px;
}
.type-effect #type-word{
  color: rgba(82, 169, 53, 0.611);
  text-shadow: 2px 2px #000000;
}
.about-container img{
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  filter: blur(8%);
  -webkit-filter: blur(8px);
}
.about-container img::before{
  position: relative;
}
.aboutus-content{
  padding: 1vw;
  margin: 2vw;
}
.aboutus-content p{
  color: white;
  font-size: 20px;
  text-align: justify;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.cards-container{
  position: relative;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  padding: 10px;
  gap: 5%;
  justify-content: center;
}
.cards-container img{
  position: absolute;
  transform: translateX(100%) translateY(-80%);
  width: 81px;
  background-color: rgb(130, 184, 232);
  border-radius: 80px;
  padding: 10px;
  height: 78px;
  margin-top: 30px;
}
.cards-container .info-card{
  width: 300px;
  height: 400px;
  padding: 15px;
  border-radius: 22px;
  margin: 2%;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 700ms ease-in-out;
}
.cards-container .info-card:hover{
  background: rgb(45, 112, 35);
  color: white;
  cursor: pointer;
  box-shadow: -8px 10px 10px rgba(0, 0, 0, 0.408);
}
  .cards-container p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  height: 300px;
  text-align: justify;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}
.card-container-heading{
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 100px;
  font-size: 35px;
  padding: 20px; 
  height: max-content;
  color: rgba(118, 104, 14, 0.775);
  text-align: center;
  padding-bottom: 0px;
}

.google-map
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .google-map iframe {
    height: 500px;
    width: 65%;
}

Footer{
  position: relative;
  width: 100%;
  background-color: green;
}
.App-header {
  background-color: #d4eddb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 252, 21);
}


.calc
{
  margin-top: 20%;
}